@charset "UTF-8";
 
 :root { /* define variáveis no css */
    --azul: #1E90FF	;
    --preta: #141414;
}

* { /* reset css */
    margin: 0px;
    box-sizing: border-box; /* limita os elementos à borda da caixa */
}

header .container {
    display: flex; /* alinha os elementos em linha */
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* separa o h1 do nav */
    background-color: var(--preta);
}

header .logo {
    color: var(--azul);
    font-family: 'Arial Black', Times;
    font-size: 40px;
    margin-left: 5px; 
}

header nav a {
    text-decoration: none; /* remove as linhas abaixo das palavras */
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #fff;
}

/*Elementos base */
body {
    font-family: 'Arial', Times, serif;
    color: var(--preta);
    overflow: hidden;    
}

main .container {margin-top: 100px;
border: 1px solid black;
box-shadow: 0px 0px 10px;
padding: 20px; 
margin: 20px; 
height: 500px;}


form  {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 12px;
}

form .calculaAltura input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: red;
  box-shadow: -80px 0 0 80px #43e5f7;
}

/* CSS */
button {
  margin-top: 20px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

img{
  width: 400px;
  height: 200px;
  text-align: center;
}


/* footer padrão de propriedade Open source by: Guilherme-del */
footer {background-color: var(--preta);        
        padding-top: 8px;
        margin-right: 0px;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;    }

textarea {
    resize: none;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  white-space: nowrap;
}

.svg-inline--fa {
  vertical-align: -0.200em;
}

.rounded-social-buttons {
  text-align: center;
}

.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover, .rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.github {
  background: #24292e;
}

.rounded-social-buttons .social-button.github:hover, .rounded-social-buttons .social-button.fa-github:focus {
  color: #24292e;
  background: #fefefe;
  border-color: #24292e;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}
